target/
*.pdb
*.ilk
*.obj
*.lib
*.dll
*.exe
*.run
*.idx
*.ttd
*.run.err
.ttd-symbol-cache/
traces/*/
!traces/*.7z
traces/**/*.out
crates/windbg-tool/tests/fixtures/**/bin/
crates/windbg-tool/tests/fixtures/**/obj/
native/**/packages/
native/**/x64/
native/**/x86/
native/**/ARM64/
native/**/.vs/
scripts/TTDDownload/
