<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.TimeTravelDebugging.Apis" version="0.9.5" targetFramework="native" />
  <package id="Microsoft.Debugging.Platform.SrcSrv" version="20260319.1511.0" targetFramework="native" />
  <package id="Microsoft.Debugging.Platform.DbgEng" version="20260319.1511.0" targetFramework="native" />
</packages>
